/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2022-3-1, 0:08:18
    Author     : JabberJack
*/
/* general div */
div{
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}
/* general table */
table{
    text-align: center;
    font-size: 19px;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}
table.menu{
    width: 400px;
    height: 200px;
}
table.display{
    width: 90%;
    border: 1px solid;
}
th.border-display{
    border: 1px solid;
}
td.border-display{
    border: 1px solid;
}
h2{
    text-align: left;
}
.insert_table{
    width: 600px;
    height: 260px;
    text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}
/* general input */
input{
    font-size: 15px;
}
/* input text */
.textbox{
    width: 400px;
    height: 30px;
    border: 1px solid;
}
.modifybox{
    width: 230px;
    height: 30px;
    border: 1px solid;
}
.checkp{
    font-size: 18px;
}
.table_choose{
    font-size: 20px;
}
.btn.btn-dark.small{
    height: 26px;
    font-size: 15px;
    width: 80px;
}
.del{
    height: 50px;
    width: 280px;
}
/* selectbox */
selectbox{
    width: 246.5px;
    height: 26px;
    border: 1px solid;
    font-size: 15px;
}
p{
    text-align: center;
    font-size: 20px;
}
search{
    width: 250px;
    height: 30px;
    border: 1px solid;
}



.navtop {
	background-color: #ffd200;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
	font-weight: bold;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #002454;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #002454;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #4a5fc1;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
